body{
background-color: black;
color: rgb(17, 184, 12);


}

.entete{

font-size: 25px;
text-align: center;
font-style: italic;
text-decoration: underline ;
text-decoration-color: rgb(255, 0, 221);
text-shadow: 10px 2px 6px #c5039b;
box-shadow: 2px 2px 7px 1px #c5039b;
margin-right: 600px;
margin-left: 600px;



}

.info{

text-align: center;
font-style: oblique;
font-size: 14px;

text-shadow: 1px 2px 6px #c5039b;

box-shadow: 2px 2px 7px 1px #c5039b;
margin-right: 700px;
margin-left: 700px;
}


.alinea{

text-align: left;
font-size: 18px;
text-decoration: underline;
font-weight: bold;
border-radius: 5px;
background-color: rgba(113, 113, 116, 0.26);
box-shadow: 2px 2px 7px 1px #c5039b;
}

.alinea:hover{
    text-align: left;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(25, 15, 112, 0.342);
    box-shadow: 2px 2px 7px 1px #03c50d;



}

.encadre {


    text-align: left;
    font-size: 16px;
    
    
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.342);
    box-shadow: 2px 2px 7px 1px #03c50d;
    
    margin-right: 1000px;

}

.encadre:hover{

    text-align: left;
    font-size: 16px;
    
    
    border-radius: 5px;
    background-color: rgba(25, 15, 112, 0.342);
    box-shadow: 2px 2px 7px 1px #c503a5;
    
    margin-right: 1000px;



}



img
{
box-shadow: 2px 2px 7px 1px #03c50d;
width: 200px;
height: 200px ;
}

img:hover 
{
width: 400px ;
height: 400px ;
box-shadow: 2px 2px 7px 1px #c503a5;

}

