*{
    margin: 0;
    padding: 0;
}
body{
    background: url(https://wallpapers.justgeek.fr/web/wallpapers/terre-nature-155983853470/1280x720.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    
    
   

    
}
.type{

    display: flex;
    height: 85vh;

}

img{
    width: 100%;
    height: 380px;
    margin: 20px;
    border-radius: 10px;
}

header{
    text-align: center;
    background-color: rgba(254, 254, 255, 0.479);
    height: 4vh;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}




main{
   
    margin: 15px;
    width: 80%;
    
    background-color: #12862900;
    border-radius: 15px;
    padding: 10px;
    padding-top: 20px;

    display: block;
    justify-content: center ; 
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    
   
    
}



aside{
    
    
    margin-left: auto;
    
    margin: 15px;

    background-color: #ffffff6b;    
    width: 20%;
    border-radius: 15px;
    color: rgb(0, 0, 0);
   


}


.center {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 50px;

    display: flex ; 
    flex-direction: column;
    align-items: center;
    
    
    background-color: rgba(139, 138, 135, 0.774);
    border-radius: 15px;
    

}
h1{
    font-size: 20px;
font-style: oblique;
font-weight: 5-600;
}
p{
    margin: 10px;
}

.iframe{

    border-radius: 10px;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    padding-bottom: 50px;
    
}


footer{

    

        background-color: #000000b0;
        height: 1vh;
        margin: 20px;
        margin-left: 700px;
        margin-right: 700px;
        margin-bottom: 5px;
        border-radius: 15px;
        padding: 10px;
        align-items: center;
        color: rgb(255, 255, 255);

}

@media screen and (max-width: 685px) {
    
    

    
    body {
        position: relative ;
        min-width: 1000px;
        min-height : auto ; 
        
        
        
                            }
    
}
